<div class="jumbotron">
  <h1>Node.js &amp;<br/>Calendars with the Microsoft Graph REST API</h1>
  <p>This application demonstrates leveraging the Microsoft Graph to show items from your Calendar in Office 365 and Azure AD applications in a Node.js application.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="/calendar" role="button">View Events in your Calendar &raquo;</a>
  </p>
</div>